<header class="header top-fixed bg-gray-50 shadow">
  <div class="container">
    <div class="flex items-center">
      <div class="flex items-center">
        <a class="logo" [routerLink]="['']">
          <h1>E-KALI</h1>
        </a>
        <ul class="flex item-center ml-5" *ngIf="!isLessThenLargeDevice">
          <li>
            <a mat-button routerLink="/accueil" routerLinkActive="bg-gray-100" class="text-lg font-bold py-2 px-5">Plats</a>
            <a mat-button *ngIf="userType==='Restaurant'" routerLink="/commande" routerLinkActive="bg-gray-100" class="text-lg font-bold py-2 px-5">Commande en cours</a>
            <a mat-button *ngIf="userType==='Restaurant'" routerLink="/gerer" routerLinkActive="bg-gray-100" class="text-lg font-bold py-2 px-5">Gérer les plats</a>
            <a mat-button *ngIf="userType==='Restaurant'" routerLink="/benefice" routerLinkActive="bg-gray-100" class="text-lg font-bold py-2 px-5">Voir bénefice</a>
            <a mat-button routerLink="/contact" routerLinkActive="bg-gray-100" class="text-lg font-bold py-2 px-5">Contactez e-kali</a>
          </li>
        </ul>
      </div>
      <button
        *ngIf="isLessThenLargeDevice"
        (click)="toggleSidenav.emit()"
        class="sidenavtoggler ml-auto md:ml-3 ms-sm-3 mb-3"
        mat-icon-button
      >
        <mat-icon>menu</mat-icon>
      </button>
      <div *ngIf="!isLessThenLargeDevice" class="items-center md:flex ml-auto">
        <mat-icon (click)="openDialog()" matBadge="15" matBadgeColor="warn" style="cursor: pointer;">shopping_cart</mat-icon>
        <a *ngIf="!isLogged" [routerLink]="['/connecter']" class="text-lg font-bold py-2 px-5" style="cursor: pointer;">Se connecter</a>
        <a *ngIf="isLogged" mat-list-item (click)="deconnecter()" class="text-lg font-bold py-2 px-5" style="cursor: pointer;">Se deconnecter</a>
      </div>
    </div>
  </div>
</header>
