.search{
  margin-top: 100px;
}
.product__name{
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  min-height: 20px;
  a {
      color: #666666;
      &:hover {
          color: var(--accent);
          transition: all .3s ease-out;
      }
  }
}

.product__creator {
  font-weight: 400;
  font-size: 1rem;
  line-height: 21px;
  color: #666666;
  margin-bottom: 12px;
}

.product__price {
  font-size: 20px;
  line-height: 30px;
}
.product__price-label {
    font-size: 18px;
    line-height: 19px;
    color: #848484;
}
.product__action {
    border-top: 1px solid #D6D6D6;
    div {
        &:first-child {
            border-right: 1px solid #D6D6D6
        }
    }
}

.mat-icon {
  vertical-align: sub;
}

.product{
  cursor: pointer;;
}

.product img:hover{
  transform: scale(1.05);
}

.product__action input{
  border: none;
  padding: 10px;
  text-align: center;
  font-family: fantasy;
  color: #c05d00;
  height: 35px
}
