<div class="row menu">
    <div class="menu-left col-md-8">
        <picture>
            <source media="(min-width:650px)" srcset="assets/images/livraison-de-nourriture.webp">
            <source media="(min-width:465px)" srcset="assets/images/livraison-de-nourriture.webp">
            <img src="assets/images/livraison-de-nourriture.webp" alt="Flowers" style="width:100%;">
        </picture>
    </div>
    <div class="menu-right col-md-4">
        <div class="login">
            <div class="login-logo">
                <div> 
                    <marquee direction ="left" behaviour = "alternate">
                        <p style="color: white;font-family: Arial, Helvetica, sans-serif;font-size: 20px;">
                            E-Kaly est une société de livraison qui permet de commander des plats dans divers restaurants et de se faire livrer à l’endroit qu’on veut.
                        </p>
                    </marquee>
                </div>
                <div class="logo">
                    <picture>
                        <source media="(min-width:650px)" srcset="assets/images/logo.png">
                        <source media="(min-width:465px)" srcset="assets/images/logo.png">
                        <img src="assets/images/logo.png" alt="Flowers" style="width:100px;height: 100px;">
                    </picture>
                </div>
            </div>
            <form class="form">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="titre-connexion">Connexion</h3>
                    </div>
                </div>
                <br/>
                <div class="form-group input">
                    <input type="email" class="form-control input-mail" name="" placeholder="Entrer votre e-mail">
                </div>
                <div class="form-group input">
                    <input type="password" class="form-control input-mail" name="" placeholder="Enter votre mot de passe">
                
                </div>
                <input class="btn btn-lg btn-success btn-block" type="submit" value="Se connecter">
                <div class="or-box">
                    <span class="or">OR</span>
                </div>
                <div class="register">
                    <p><span>Pas encore du compte?</span> <a href="http://"> Créer un compte</a></p>
                </div>
            </form>
        </div>
    </div>
</div>