.red{
  color: red;
}
.red svg {
  fill: red;
}

.green{
  color: green;
}
.green svg {
  fill: green;
}

.mat-icon{
  font-size: 100px;
  width: auto;
  //margin-left: -30%;
}

.mat-dialog-content {
  max-height: none;
  max-width: none;
  overflow: none;
}
