<div class="footer">
    <div class="footer-bottom">
        <div class="container">
            <div class="py-10">
                <nav class="items-center text-center" >
                    <a href="https://www.facebook.com/randriatsarafara.tovomampiononafitahiana" class="text-white">RANDRIATSARAFARA Tovomampionona Fitahiana</a>
                    <hr style="margin-top: 20px;margin-bottom: 20px;">
                    <p class="text-white">MASTER 1 - PROMOTION 9</p>
                </nav>
            </div>
        </div>
    </div>
</div>
