<div [class.example-is-mobile]="isLessThenLargeDevice">
  <mat-sidenav-container class="kl-sidenav-container">
    <mat-sidenav #sidenav [opened]="isSidenavExpand && isLessThenLargeDevice" [mode]="'over'" [fixedInViewport]="isLessThenLargeDevice">
      <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-header (toggleSidenav)="toggleSidenav()"></app-header>
      <div class="container" style="min-height: 455px;">
        <app-beneficeresto></app-beneficeresto>
      </div>
      <app-footer></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
